/* Base CSS file for Luxor */
body{
	padding-top: 60px;
	padding-bottom: 50px;
}

.button-panel{
    
    /*margin-bottom: 10px;*/
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;

}